<a href="https://colab.research.google.com/github/edgaryoungpilo-web/colab-files/blob/main/Ejercicio_6_266659.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejo de librerias Panda

In [30]:
# Direccion de la carpeta y asignacion de librerias

from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np

# Ruta del archivo (ajusta según tu carpeta)
ruta = '/content/drive/MyDrive/ClassFiles/Titanic-Dataset.csv'
df = pd.read_csv(ruta)

df.head(890)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

# Ejercicio 1 - Supervivencia por Sexo y Clase

In [31]:
# Ejercicio 1 - Supervivencia por combinación de Sex y Pclass

supervivencia_sex_clase = df.groupby(['Sex', 'Pclass'])['Survived'].mean()
supervivencia_sex_clase

# Identificar la combinación con mayor y menor supervivencia
mayor_supervivencia = supervivencia_sex_clase.idxmax(), supervivencia_sex_clase.max()
menor_supervivencia = supervivencia_sex_clase.idxmin(), supervivencia_sex_clase.min()

print("Mayor tasa de supervivencia:", mayor_supervivencia)
print("Menor tasa de supervivencia:", menor_supervivencia)

Mayor tasa de supervivencia: (('female', np.int64(1)), 0.9680851063829787)
Menor tasa de supervivencia: (('male', np.int64(3)), 0.13544668587896252)

# Ejercicio 2 - Identificacion de familias grandes

In [23]:
# Creacion de columna
df['FamilySize'] = df['SibSp'] + df['Parch']

# Filtracion de familias grandes
familias_grandes = df[df['FamilySize'] > 3]

# Numero de pasajeros en familias grandes
num_familias_grandes = familias_grandes.shape[0]
print("Pasajeros en familias grandes:", num_familias_grandes)

# Proporcion de supervivencia en familias grandes
proporcion_supervivencia_familias_grandes = familias_grandes['Survived'].mean()
print("Proporción de supervivencia en familias grandes:", proporcion_supervivencia_familias_grandes)

Pasajeros en familias grandes: 62
Proporción de supervivencia en familias grandes: 0.16129032258064516

 # Ejercicio 3 - Segmentacion por grupos de edad

In [38]:
# Clasificacion de edad
def clasificar_edad(edad):
    if edad < 18:
        return 'Menor de edad'
    else:
        return 'Mayor de edad'
# Nueva Columna
df['GrupoEdad'] = df['Age'].apply(lambda x: clasificar_edad(x) if not np.isnan(x) else np.nan)
df[['Age', 'GrupoEdad']].head(10)

    Age      GrupoEdad
0  22.0  Mayor de edad
1  38.0  Mayor de edad
2  26.0  Mayor de edad
3  35.0  Mayor de edad
4  35.0  Mayor de edad
5   NaN            NaN
6  54.0  Mayor de edad
7   2.0  Menor de edad
8  27.0  Mayor de edad
9  14.0  Menor de edad

# Ejercicio 4 - Comparacion de promedios

In [34]:
# Promedios Usados Numpy
promedio_age_numpy = np.nanmean(df['Age'])
promedio_fare_numpy = np.nanmean(df['Fare'])

# Promedios usando Pandas
promedio_age_pandas = df['Age'].mean()
promedio_fare_pandas = df['Fare'].mean()

# Coparacion
print("Edad - NumPy:", promedio_age_numpy)
print("Edad - Pandas:", promedio_age_pandas)

print("\nFare - NumPy:", promedio_fare_numpy)
print("Fare - Pandas:", promedio_fare_pandas)

Edad - NumPy: 29.69911764705882
Edad - Pandas: 29.69911764705882

Fare - NumPy: 32.204207968574636
Fare - Pandas: 32.204207968574636