<a href="https://colab.research.google.com/github/edgaryoungpilo-web/colab-files/blob/main/Practica_12%2C13%2C14%2C15%2Cy_16_166659.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practica 12 - Crga de datos

# Cargar el CSV omitiendo la última fila

In [9]:
import pandas as pd

ruta = "/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv"

df = pd.read_csv(ruta, skipfooter=1, engine='python')

# Verificacion de que NO se cargó la última línea

In [10]:
df.tail(3)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000,1496,1925,1,B2,460000,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033,64117,2001,4,K6,11693337,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

# Cantidad de filas y colunmnas

In [11]:
print("Filas:", df.shape[0])
print("Columnas:", df.shape[1])

Filas: 84548
Columnas: 22

# Practica 13 - Cambiar de nombre a la columna

# Impresion de nombres actuales

In [12]:
print(df.columns)

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

# Aseguramiento de que la primera columna sea INDEX MIAAD

In [13]:
if df.columns[0] != "INDEX MIAAD":
    df.rename(columns={df.columns[0]: "INDEX MIAAD"}, inplace=True)

print(df.columns)

Index(['INDEX MIAAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

# Practica 14 - Normalizacion de Nombres

In [14]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

print(df.columns)

Index(['index_miaad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

# Practica 15 - Errores en los tipos de datos

In [15]:
print(df.dtypes)

index_miaad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

# Verificar tipo actual de columnas importantes

In [16]:
print("sale_price:", df['sale_price'].dtype)
print("land_square_feet:", df['land_square_feet'].dtype)
print("gross_square_feet:", df['gross_square_feet'].dtype)

sale_price: object
land_square_feet: object
gross_square_feet: object

# Conversion a tipo flotantes

In [17]:
df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')

# Verificacion

In [18]:
print(df.dtypes)

index_miaad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

# Practica 16 - Diccionario de datos

In [19]:
diccionario_datos = {}

for columna in df.columns:
    diccionario_datos[columna] = str(df[columna].dtype)

print(diccionario_datos)

{'index_miaad': 'int64', 'borough': 'int64', 'neighborhood': 'object', 'building_class_category': 'object', 'tax_class_at_present': 'object', 'block': 'int64', 'lot': 'int64', 'ease-ment': 'object', 'building_class_at_present': 'object', 'address': 'object', 'apartment_number': 'object', 'zip_code': 'int64', 'residential_units': 'int64', 'commercial_units': 'int64', 'total_units': 'int64', 'land_square_feet': 'float64', 'gross_square_feet': 'float64', 'year_built': 'int64', 'tax_class_at_time_of_sale': 'int64', 'building_class_at_time_of_sale': 'object', 'sale_price': 'float64', 'sale_date': 'object'}